<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been approved!</h1>
    <p>
      The administrator has approved your request to become a member.
      <br>
    </p>
    <p>
      Follow the link to log into <a href="https://peninsulachurch.heroku.com">PCIC.</a>
    </p>
    <p>
      For any questions, please contact: <a href="mailto:peninsulachurchinchrist@gmail.com"> peninsulachurchinchrist@gmail.com.</a>
    </p>
  </body>
</html>
