<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Messages</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table id="example" class="table table-hover" cellspacing="0" width="90%">
        <thead>
          <tr>
            <th>Speaker</th>
            <th>Topic</th>
            <th>Date</th>
            <th>Listen</th>
            <th></th>
          </tr>
        </thead>
        <% if @sermons.present? %>
        <tbody id="sermon">
          <%= render 'sermon' %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <div class="pull-right">
        <%= link_to "Add a message", new_admin_sermon_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
