<table class="table table-responsive text-left">
  <tbody>
    <tr>
      <td><strong>Bread-breaking:</strong> 9:30 AM</td>
    </tr>
    <tr>
      <td><strong>Bible Study:</strong> 11:00 AM</td>
    </tr>
    <tr>
      <td><strong>Message:</strong> 11:30 AM</td>
    </tr>
  </tbody>
</table>
