@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "dataTables/jquery.dataTables";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
/* @import "fullcalendar_engine/application"; */
@import url('//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

.navbar {
  border-radius: 0;
}
.alert a {
  text-decoration: none;
}

.panel {
  padding: 10px;
}

abbr[title="required"] {
  display: none;
}
