@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/jquery.dataTables";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "fullcalendar_engine/application";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "grayscale";
@import url('//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

.navbar {
  border-radius: 0;
}
.alert a {
  text-decoration: none;
}

.panel {
  padding: 10px;
}

#notification {
  position: absolute;
  right: 0px;
  float: right;
  top: 90px;
  z-index: 1;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

@media (min-width:769px) {
  .dropdown:hover .dropdown-menu {
  display: block;
  }
}

.dropdown-menu li:hover {
  background: #302f2f;
}

.dropdown-menu li.active .page-scroll {
  color: #000;
}
