@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

/* CSS used here will be applied after bootstrap.css */

body {
    background-image: image-url('autumn-forest.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:100px;
}
.form-group.last {
    margin-bottom:0px;
}
.panel-heading {
    text-align: center;
}
.form-inputs {
    text-align: center;
}

.form-actions {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
