<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>New Member</h1>
    </div>
    <div class="col-md-12">
      <%= render 'new_user' %>
    </div>
  </div>
</div>
